<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>Getting Started: Saving Web Content</title>
<!--    <href>-->
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />



<h1>お問合せフォーム</h1>
<form>
    <p>お名前：<input type="text" name="name" value=""></p>
    <p>メールアドレス*：<input type="text" name="email" value=""></p>
    <p>内容*：</p>
    <p><textarea name="memo" cols="40" rows="5"></textarea></p>
    <p><input type="submit" value="送信"></p>
</form>
</body>
</html>